<app-header></app-header>
<div class="side" fxLayout="row wrap" fxLayoutAlign="space-between center">
    <div>
        <span >Books</span>
        <span class="item">(128 items)</span>
    </div>
    <button (click)="openDialog()">add book</button>
</div>
<div class="maincontaintentItem" fxLayout="row wrap"  fxLayoutAlign="space-around center">
    <div class="card" *ngFor = "let book of bookArray">
        <div class="card1" fxLayout="row wrap" fxLayoutAlign="space-around start">
            <img class="img1" src="../../../assets/bookimg/book8.png">
        </div>
        <br>
        <span class="data1">{{book.bookName}}</span><br>
        <span class="data2">{{book.author}}</span><br>
        <span class="data1">{{book.price}}</span><br>
        <div class="centerbutton" fxLayout="row" fxLayoutAlign="space-between center">
            <button type="button">UPDATE</button>
            <button type="button" class="button2" (click)="deleteBook(book)">DELETE</button>
        </div>
    </div>
    
</div>



<app-footer></app-footer>