<!-- <div class="toolbar"> -->
    <header class="header" fxpngout="row" fxLayoutAlign="space-evenly center">
    
        <div fxLayoutAlign="space-evenly center">
            <img src="../../../assets/icons/book.png">
            <span>Bookstore</span>
        </div>
        <div>
            <input type="text" placeholder="search">
        </div>
        <div fxLayoutAlign="space-evenly center">
            <img src="../../../assets/icons/prof.svg">
       
            <img src="../../../assets/icons/supermarket.png">
        </div>
    
    </header>
