<!-- <div class="toolbar"> -->
    <header class="header" fxLayout="row" fxLayoutAlign="space-evenly center">
    
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <img src="../../../assets/icons/book.png">
            <span>Bookstore</span>
        </div>
        <div>
            <input type="text" placeholder="search">
        </div>
        <div fxLayoutAlign="space-evenly center">
            <!-- <img src="../../../assets/icons/prof.svg"> -->
           <span>cart</span>
            <img src="../../../assets/icons/supermarket.png">
        </div>
    
    </header>
