.header{
    /* background : rgb(223, 72, 72); */
    width: 100%;      
} 
.place{
    width: 70%;
    height: 30%;
    border: 1px solid gray;
    margin-left: 13%;
    margin-top: 2%;
    margin-bottom: 2%;
    /* font-weight: normal; */
}
.box{
    /* border: 1px solid gray; */
    margin-top: 1%;
    width :18%;
    margin-left: 3%;
    font-weight: bold;
}
.image{
    width: 109px;
    height: 125px;
    padding: 10px;
} 
.book{
    margin-left: 2%;
}

.start{
    margin-left: 15px;
    font: normal normal normal 14px/19px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
}
.middle{
    margin-left: 15px;
    font: normal normal normal 10px/13px Roboto;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
}

.detail{
    margin: 10px;
    /* border: 1px solid gray; */
}
.button{
    margin-bottom: 2%;
    margin-right: 2%;
}
.main{
    margin-left: 3%;
}
.placebutton{
    margin-bottom: 2%;
    margin-right: 2%;
}
.undisplayed{
    top: 378px;
    left: 177px;
    width: 70%;
    height: 60px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DCDCDC;
    border-radius: 1px;
    opacity: 1;
    margin-left: 13%;
}

.summary{
    top: 378px;
    left: 177px;
    width: 70%;
    height: 60px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DCDCDC;
    border-radius: 1px;
    opacity: 1;
    margin-left: 13%;
    margin-top: 20px;
    margin-bottom: 10.3%;
}