<div class="toolbar">
    <header class="header" fxpngout="row" fxLayoutAlign="space-evenly center">
    
        <div fxLayoutAlign="space-evenly center">
            <img src="../../../assets/icons/book.png">
            <a>Bookstore</a>
        </div>
        <div>
            <input type="text" placeholder="search">
        </div>
        <div fxLayoutAlign="space-between center">
            <img src="../../../assets/icons/prof.svg"></div>
        <div fxLayoutAlign="space-between center">
            <img src="../../../assets/icons/supermarket.png">
        </div>
    
    </header>
    
        <div class="side" fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div>
                <span >Books</span>
                <span class="item">(128 items)</span>
            </div>
            <button >add book</button>
        </div>
        <div class="maincontaintentItem" fxLayout="row wrap" fxLayoutAlign="space-around center">
            <div class="card">
                <div class="card1" fxLayout="row wrap" fxLayoutAlign="space-around start">
                    <img class="img1" src="../../../assets/bookimg/book1.png">
                </div>
                <br>
                <span class="data1">Dont Make Me Think</span><br>
                <span class="data2">by Steve Krug</span><br>
                <span class="data1">Rs. 1200</span><br>
                <button type="button">ADD TO BAG</button>
                <button type="button" class="button2">WISHLIST</button>
            </div>
            <div class="card">
                <div class="card1" fxLayout="row wrap" fxLayoutAlign="space-around start">
                    <img class="img1" src="../../../assets/bookimg/book2.png">
                </div>
                <br>
                <span class="data1">Dont Make Me Think</span><br>
                <span class="data2">by Steve Krug</span><br>
                <span class="data1">Rs. 1200</span><br>
                <button type="button">ADD TO BAG</button>
                <button type="button" class="button2">WISHLIST</button>
            </div>
            <div class="card">
                <div class="card1" fxLayout="row wrap" fxLayoutAlign="space-around start">
                    <img class="img1" src="../../../assets/bookimg/book3.png">
                </div>
                <br>
                <span class="data1">Dont Make Me Think</span><br>
                <span class="data2">by Steve Krug</span><br>
                <span class="data1">Rs. 1200</span><br>
                <button type="button">ADD TO BAG</button>
                <button type="button" class="button2">WISHLIST</button>
            </div>
            <div class="card">
                <div class="card1" fxLayout="row wrap" fxLayoutAlign="space-around start">
                    <img class="img1" src="../../../assets/bookimg/book4.png">
                </div>
                <br>
                <span class="data1">Dont Make Me Think</span><br>
                <span class="data2">by Steve Krug</span><br>
                <span class="data1">Rs. 1200</span><br>
                <button type="button" class="button1"> WISHLIST</button>
            </div>
            <div class="card">
                <div class="card1" fxLayout="row wrap" fxLayoutAlign="space-around start">
                    <img class="img1" src="../../../assets/bookimg/book5.png">
                </div>
                <br>
                <span class="data1">Dont Make Me Think</span><br>
                <span class="data2">by Steve Krug</span><br>
                <span class="data1">Rs. 1200</span><br>
                <button type="button">ADD TO BAG</button>
                <button type="button" class="button2">WISHLIST</button>
            </div>
            <div class="card">
                <div class="card1" fxLayout="row wrap" fxLayoutAlign="space-around start">
                    <img class="img1" src="../../../assets/bookimg/bookk6.png">
                </div>
                <br>
                <span class="data1">Dont Make Me Think</span><br>
                <span class="data2">by Steve Krug</span><br>
                <span class="data1">Rs. 1200</span><br>
                <button type="button">ADD TO BAG</button>
                <button type="button" class="button2" >WISHLIST</button>
            </div>
            <div class="card">
                <div class="card1" fxLayout="row wrap" fxLayoutAlign="space-around start">
                    <img class="img1" src="../../../assets/bookimg/book7.png">
                </div>
                <br>
                <span class="data1">Dont Make Me Think</span><br>
                <span class="data2">by Steve Krug</span><br>
                <span class="data1">Rs. 1200</span><br>
                <button type="button">ADD TO BAG</button>
                <button type="button" class="button2" >WISHLIST</button>
            </div>
            <div class="card">
                <div class="card1" fxLayout="row wrap" fxLayoutAlign="space-around start">
                    <img class="img1" src="../../../assets/bookimg/book8.png">
                </div>
                <br>
                <span class="data1">Dont Make Me Think</span><br>
                <span class="data2">by Steve Krug</span><br>
                <span class="data1">Rs. 1200</span><br>
                <button type="button">ADD TO BAG</button>
                <button type="button" class="button2">WISHLIST</button>
            </div>
            <div class="card">
                <div class="card1" fxLayout="row wrap" fxLayoutAlign="space-around start">
                    <img class="img1" src="../../../assets/bookimg/book1.png">
                </div>
                <br>
                <span class="data1">Dont Make Me Think</span><br>
                <span class="data2">by Steve Krug</span><br>
                <span class="data1">Rs. 1200</span><br>
                <button type="button">ADD TO BAG</button>
                <button type="button" class="button2">WISHLIST</button>
            </div>
            <div class="card">
                <div class="card1" fxLayout="row wrap" fxLayoutAlign="space-around start">
                    <img class="img1" src="../../../assets/bookimg/book9.png">
                </div>
                <br>
                <span class="data1">Dont Make Me Think</span><br>
                <span class="data2">by Steve Krug</span><br>
                <span class="data1">Rs. 1200</span><br>
                <button type="button">ADD TO BAG</button>
                <button type="button" class="button2">WISHLIST</button>
            </div>
            <div class="card">
                <div class="card1" fxLayout="row wrap" fxLayoutAlign="space-around start">
                    <img class="img1" src="../../../assets/bookimg/book3.png">
                </div>
                <br>
                <span class="data1">Dont Make Me Think</span><br>
                <span class="data2">by Steve Krug</span><br>
                <span class="data1">Rs. 1200</span><br>
                <button type="button">ADD TO BAG</button>
                <button type="button" class="button2">WISHLIST</button>
            </div>
            <div class="card">
                <div class="card1" fxLayout="row wrap" fxLayoutAlign="space-around start">
                    <img class="img1" src="../../../assets/bookimg/book4.png">
                </div>
                <br>
                <span class="data1">Dont Make Me Think</span><br>
                <span class="data2">by Steve Krug</span><br>
                <span class="data1">Rs. 1200</span><br>
                <button type="button">ADD TO BAG</button>
                <button type="button" class="button2">WISHLIST</button>
            </div>
        </div>
   
    
    <footer class="footercontainer">
        Copyright © 2020, Bookstore Private Limited. All Rights Reserved
    </footer>
    </div>