<div class="header">
  <form [formGroup]="form"  (ngSubmit)="submit()" class="headercontanier">
    <div class="head" fxLayout="row" fxLayoutAlign="center center">
      <h3>LOGIN</h3>
    </div>
    <div class="group">
      <div class="email">
        <label>Email Id</label>
        <div class="input1" fxLayout="row" fxLayoutAlign="center center">
          <input matInput formControlName="email" type="text" name="email" placeholder="Email" matInput required />    
        </div>
      </div>  

      <div class="password">
        <label>Password</label>
        <input formControlName="password" matInput [type]="hide ? 'password' : 'text'"  type="text" name="password" placeholder="password" required>
   
         <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password '"[attr.aria-pressed]="hide">
       
          </button>
       
          <div>
            <button type="submit" class="loginbutton">LOGIN</button> 
          </div>
      </div>
    </div>
  </form>
</div>

<div class="image">
  <img src="../../../assets/icons/bookshooping.png" class="cartimage">
  <label class="label"> Online Shopping Website </label>
</div>